 body{ font-size:12px; margin:0 0 15px 0; font-family:Verdana, arial, Helvetica, sans-serif; background:transparent;}
 
html, body, * {  font-family: "Microsoft YaHei", "Microsoft YaHei",Verdana, arial, Helvetica, sans-serif ! important; margin:0;padding:0;} 
a{text-decoration:none;cursor:pointer;} 
a:link,a:visited,a:active{color:#000;text-decoration:none;}

a:hover{ color:#f00; text-decoration:none;}
a img{border:none;}
ul{list-style:none;margin:0;padding:0;}


.index-website-tab{  width:648px; height:375px; margin:0 auto; overflow:hidden;}

.index-website-tab .website-fl-content{width:648px; height:237px; overflow:hidden; position:relative} 

.index-website-tab .website-fl-content .default-style{ position:relative; float:left; width:648px; height:237px; overflow:hidden; background:url(../image/nr_bg.png);}


.website-fl-content .default-style .current{ margin-left:0px; width:650px; overflow:hidden;}

.website-fl-content .default-style .current li{ float:left; line-height:35px; text-align:center; width:108px; font-size:14px; }

.website-fl-content .default-style .current li .url_img{vertical-align:middle; width:16px; height:16px; margin-right:5px;}

.website-fl-content .default-style .n{ width:650px; overflow:hidden;}

.website-fl-content .default-style .colse{ width:30px; height:30px; position:absolute; top:0px; right:0px; background: url(../image/colse.png); z-index:500; cursor:pointer;}
.website-fl-content .default-style .colse:hover{ background: url(../image/colse.png) 0 -30px;}


.website-fl-content .default-style .n li{float:left; height:34px;line-height:34px; margin:0 0 0 15px; width:90px; font-size:14px;}
	
.website-fl-content .default-style .n2{ width:650px; overflow:hidden;}

.website-fl-content .default-style .n2 li{float:left; line-height:32px; width:108px; font-size:14px; text-align:center; position:relative;}	

.hot{ margin:0px 0px 0px 3px;}
	
.website-fl-content .default-style .n li.title{ font-weight:600; border:none; background: url(../image/title_bg.png)}	 
	

	
.website-fl-content .slide_box{  position:absolute; left:0; bottom:-237px; display:;}

.website-fl-content .slide_content{position:relative;width:648px; overflow:hidden;}
	
.website-fl-content .slide_content .tabslider{ float:left;}
	
.tabslider{width:16300px;}



.index-website-tab .fineness-change-button{ width:648px; height:119px; position:relative; padding-top:16px; overflow:hidden;background: url(../image/bottom_bg.png);} 


.index-website-tab .fineness-change-button .change-list{ width:624px; height:112px; margin-left:12px;overflow:hidden}  /*112px*/

.index-website-tab .fineness-change-button .change-list li{ _display:inline; float:left; width:40px; height:52px; margin-bottom:5px; margin-right:18px; text-align:center; cursor:pointer; overflow:hidden; position:relative;}

.index-website-tab .fineness-change-button .change-list li.end{ float:left; width:40px; height:52px; margin-bottom:4px; margin-right:0px; overflow:hidden;}
.index-website-tab .fineness-change-button .change-list li .light{ display:block; width:40px; height:33px; position:absolute; left:-3px; top:-3px; background:url(images/website/light.png) no-repeat 0 0;}

.index-website-tab .fineness-change-button .change-list li.host{filter:alpha(opacity=15); -moz-opacity:0.15; -khtml-opacity: 0.15; opacity: 0.15;}
.index-website-tab .fineness-change-button .change-list li.host:hover{filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1;opacity:1;}

.index-website-tab .fineness-change-button .change-list li .sign{ display:block; width:40px; height:36px; overflow:hidden;}
.index-website-tab .fineness-change-button .change-list li p{ font-size:12px; width:40px; height:15; padding-top:2px; text-align:center;}

.pointer{ width:40px; height:20px; background: url(../image/slide-pointer.png) no-repeat center 0; position:absolute; left:12px; bottom:115px; z-index:800; display:none;}
